@page "/"
@using BlazorPokedex.Model.peager;
@using BlazorPokedex.Model.pokemon;
@using BlazorPokedex.Services;
@using Model;

@inject IPokeApiClient Client

<div >
    <div class="row">
        <div class="col">
            <Pagination Metadata="Paginacion" Spred="5" SelectPage="SelectedPage" ></Pagination>
        </div>
    </div>
    <PokemonGrid Pokemons="Pokemons" NumbersRows="5"> </PokemonGrid>
</div>
@code {

    public List<Pokemon> Pokemons { get; set; }
    public PaginationMetadata Paginacion { get; set; } = new PaginationMetadata();
    public PaginationParameters Parametros { get; set; } = new PaginationParameters();
    public int Spread { get; set; }
    protected override async Task OnInitializedAsync()
    {
        await GetPagerPokemons();
    }
    private async Task SelectedPage(int page)
    {
        Parametros.PageNumber = page;
        await GetPagerPokemons();
    }
    private async Task GetPagerPokemons()
    {
        ResultObjetc res =await Client.GetAll(Parametros);
        Pokemons = res.Pokemons;
        Paginacion.Items = res.Count;
        Paginacion.TotalPages = res.Count / Parametros.PageSize;
    }
}